
.main {
    height: 100vh;
    background-color: #f6f7f8;
}
.backbtn{
    text-decoration: none;
    font-family: monospace;
    margin-left: .5rem;
    text-align: left;
    font-weight: 600;
    font-size: 1.1rem;
    line-height: 1.285714285714286;
    color: #303545;
}
.backbtn span{
    color: #00e2e2;
    font-size: 1.35rem;
}
.backbtn:hover >  span{
    color: yellow;
}
.btn-outline-info:hover{
    color: #fff;
}
.option{
    background: #fff;
    box-shadow: 4px 0px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}


.card {
    width: 50em;
    height: 28em;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: all 600ms;
    transition: all 600ms;
    z-index: 20;
    border: 2px solid rgba(0, 0, 0, 0.125);
}
.btn{
    width: 6.3rem;
}
.multiple{
    display: flex;
    justify-content: space-around;
}
@media (max-width: 576px) {
    .multiple{
        display: inline-block;
    }
}

.input-cont {
	width: 68%;
	position: relative;
	overflow: hidden;
}

.input-cont input {
	width: 100%;
	height: 100%;
	color: #111;
	padding-top: 3rem;
	border: none;
	outline: none;
	background: transparent;
}

.input-cont label {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	border-bottom: 1px solid #000;
}

.input-cont label::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: -1px;
	width: 100%;
	height: 100%;
	border-bottom: 3px solid #5fa8d3;
	transform: translateX(-100%);
	transition: all .3s ease;
}

.content-name {
	position: absolute;
	bottom: 5px;
	left: 0;
	transition: all .3s ease;
}

.input-cont input:focus + .label-name .content-name, .input-cont input:valid + .label-name .content-name {
	transform: translateY(-150%);
	font-size: 14px;
	color: #5fa8d3;
}

.input-cont input:focus + .label-name::after, .input-cont input:valid + .label-name::after {
	transform: translateX(0%);
}